# ==================== DATABASE ====================
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="backup_manager_db"
POSTGRES_HOST="app_db"
# POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
PGDATA="/var/lib/postgresql/data/pgdata"
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?sslmode=disable

# ==================== RABBITMQ ====================
RABBITMQ_USER="guest"
RABBITMQ_PASSWORD="guest"
RABBITMQ_HOST="rabbitmq"
RABBITMQ_PORT="5672"
RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}//

# ==================== CELERY ====================
CELERY_BROKER_URL=${RABBITMQ_URL}
CELERY_RESULT_BACKEND=db+postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# ==================== FRONTEND ====================
NEXT_PUBLIC_BACKEND_URL="http://localhost:8080"

# ==================== BACKEND ====================
SECRET_KEY="super-secret"